**In this project our goal is to handle missing data , because missing data may give not accurate result.**

In [ ]:
!gdown 1g1nwk4k-h9FceEHKZc8ocfu_xp3xnZ8R

Downloading...
From: https://drive.google.com/uc?id=1g1nwk4k-h9FceEHKZc8ocfu_xp3xnZ8R
To: /content/hr.csv
100% 580k/580k [00:00<00:00, 147MB/s]

# Importing necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

So,first we will load and view dataset

In [ ]:
df=pd.read_csv("/content/hr.csv")

In [ ]:
# df.head() helps to view dataset
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary,age
0,0.24,0.79,2,175,5,0,0,0,IT,low,NaN
1,0.40,0.49,2,155,3,0,1,0,hr,medium,27.0
2,0.45,0.45,2,154,3,1,1,0,support,medium,NaN
3,0.46,0.73,6,256,4,0,0,0,product_mng,high,NaN
4,0.14,0.54,5,275,4,1,0,0,sales,high,NaN

In [ ]:
# .info() gives information about the given data set.
# we will need to check information to observe wheather the given data has missing value or not
# if given data has missing value we will check whether it is numerical or categorical data to use necessary method for handling missing data.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15004 entries, 0 to 15003
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     15004 non-null  float64
 1   last_evaluation        15004 non-null  float64
 2   number_project         15004 non-null  int64
 3   average_montly_hours   15004 non-null  int64
 4   time_spend_company     15004 non-null  int64
 5   Work_accident          15004 non-null  int64
 6   left                   15004 non-null  object
 7   promotion_last_5years  15004 non-null  int64
 8   Department             15004 non-null  object
 9   salary                 14975 non-null  object
 10  age                    3080 non-null   float64
dtypes: float64(3), int64(5), object(3)
memory usage: 1.3+ MB

In [ ]:
# checking missing value
df.isna().sum()

satisfaction_level           0
last_evaluation              0
number_project               0
average_montly_hours         0
time_spend_company           0
Work_accident                0
left                         0
promotion_last_5years        0
Department                   0
salary                      29
age                      11924
dtype: int64

As we can observe that salary and age column has missing value . Age is a numerical dataset whereas salary is a categorical datatype.

Missing data can be handeled by various type :

1.) Removing the data or using CCA : CCA is convinient to use only the missing data is less than 5%.

2.) Imputation:
 * Univariate : missing value is replaced with another value/data present within the same column by another value . For eg : by using mean/median method(mean/median is used for numerical datatype) Or by using mode (for categorical data)
 * Multivariate : it uses the entire set of available feature(columns) to estimate the missing value.

In [ ]:
# to check how many row and columns are present in the given dataset.
df.shape

(15004, 11)

# Handling missing data by using CCA

We will use CCA(Complete Case Analysis) to handle missing value of salary set . As we can observe salary has categorical data , and the missing value is less than 5% . CCA should only be applied if less than 5% data is missing.

In [ ]:
df.isnull().mean()*100

satisfaction_level        0.000000
last_evaluation           0.000000
number_project            0.000000
average_montly_hours      0.000000
time_spend_company        0.000000
Work_accident             0.000000
left                      0.000000
promotion_last_5years     0.000000
Department                0.000000
salary                    0.193282
age                      79.472141
dtype: float64

**As we can observe that the missing value present in salary is 0.19 which is less than 5 % , so we can apply CCA here.**

In [ ]:
# importing salary column
columns = ['salary']
df2=pd.DataFrame(df,columns=columns)
df2

       salary
0         low
1      medium
2      medium
3        high
4        high
...       ...
14999  medium
15000     low
15001  medium
15002     low
15003  medium

[15004 rows x 1 columns]

In [ ]:
# to check if I drop salary column then how much data I will loose.
len(df2.dropna())/len(df)

0.9980671820847774

In [ ]:
new_df=df2.dropna()
df.shape,new_df.shape

((15004, 11), (14975, 1))

**Here, we used CCA, and we successfully dropped missing rows from our salary column. The change in the new shape has indicated that some of the missing rows has been dropped**

In [ ]:
df['salary'].value_counts()

low       7289
medium    6449
high      1237
Name: salary, dtype: int64

**-To check if after applying CCA the data is working or not, as salary is categorical datatype we will be using the following method to check whether CCA is working not**

In [ ]:
df['salary'].value_counts()/len(df)

low       0.485804
medium    0.429819
high      0.082445
Name: salary, dtype: float64

In [ ]:
new_df['salary'].value_counts()/len(new_df)

low       0.486745
medium    0.430651
high      0.082604
Name: salary, dtype: float64

In [ ]:
new_df.isna().sum()

salary    0
dtype: int64

**Now we will be using imputation method for numerical data,as age has more than 5% missing data and is also has numerical data we will be using imputation method**

# Handling missing data by using inputation.
* Univariate

As age column has numerical data we will be using mean/median method to handle missing data.

In [ ]:
df3=df.fillna(value=df['age'].median())
df3

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary,age
0,0.24,0.79,2,175,5,0,0,0,IT,low,27.0
1,0.40,0.49,2,155,3,0,1,0,hr,medium,27.0
2,0.45,0.45,2,154,3,1,1,0,support,medium,27.0
3,0.46,0.73,6,256,4,0,0,0,product_mng,high,27.0
4,0.14,0.54,5,275,4,1,0,0,sales,high,27.0
...,...,...,...,...,...,...,...,...,...,...,...
14999,0.71,0.66,5,187,2,0,0,0,sales,medium,27.0
15000,0.75,0.84,3,145,3,1,0,0,support,low,27.0
15001,0.32,0.41,3,138,3,1,0,0,technical,medium,29.0
15002,0.62,0.58,3,148,2,1,0,0,technical,low,27.0
15003,0.81,0.94,3,225,4,0,0,0,hr,medium,27.0

In [ ]:
df3.isna().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Department               0
salary                   0
age                      0
dtype: int64

In [ ]:
df3.isnull().mean()

satisfaction_level       0.0
last_evaluation          0.0
number_project           0.0
average_montly_hours     0.0
time_spend_company       0.0
Work_accident            0.0
left                     0.0
promotion_last_5years    0.0
Department               0.0
salary                   0.0
age                      0.0
dtype: float64

In [ ]:
df.shape,df3.shape

((15004, 11), (15004, 11))

Now , we have filled the missing value with median value.Median value is calculated after sorting feature in ascending order , and then whichever might be the center value , then missing value is replaced by that number.